[submodule "ThirdParty/pop"]
	path = ThirdParty/pop
	url = https://github.com/facebook/pop.git
[submodule "ThirdParty/TunableSpec"]
	path = ThirdParty/TunableSpec
	url = https://github.com/Khan/TunableSpec.git
[submodule "ThirdParty/DTBonjour"]
	path = ThirdParty/DTBonjour
	url = https://github.com/Khan/DTBonjour.git
[submodule "ThirdParty/swiftz"]
	path = ThirdParty/swiftz
	url = https://github.com/Khan/swiftz.git
