.page-heading {
  margin-top: 3em;
}

li.method,
li.variable,
li.typealias,
li.convenience,
li.enum,
li.struct,
li.function {
    list-style: none;
    padding-left: 0;
}

.post-content li h4 {
      font-family: "Input Mono Cond", InputMonoCondensed-Light, "Andale Mono", monospace;
      font-style: normal;
      font-size: 15px;
      font-weight: normal;
      margin-top: 30px;
      white-space: pre-wrap;
}

.post-content .footnotes {
  margin-top: 8em;
}

.permalink {
  position: absolute;
  margin-left: -28px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 300ms;
}

li:hover .permalink {
  opacity: 1;
}

.api-nav {
  margin-left: 0;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;

  .view-as {
    margin-top: 15px;
    margin-left: 0;
  }

  li {
    list-style: none;
    padding: 0 0.5em;
    margin: 0;
    display: inline-block;
    font-family: "input mono cond";
    font-size: 13px;
    line-height: 28px;

    &.header {
      color: #aaa;
    }
  }
}

.swift .api-nav .swift-mode, .javascript .api-nav .javascript-mode {
  border: 1px solid $brand-color;
  border-radius: 10px;
}

.responsive.video {
  display: inline-block;
  position: relative;
  width:100%;
  margin:1em 0 !important;
  padding:0 !important;

  &:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  div {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
  }

  &.screen-13-in:after {
    padding-top: 62.5%;
  }
}
