li.method, li.variable, li.typealias {
    list-style: none;
    padding-left: 0;
}

.post-content li h4 {
      font-family: "Input Mono Cond";
      font-style: normal;
      font-size: 15px;
      font-weight: normal;
      margin-top: 30px;
      white-space: pre-wrap;
}
.doc-nav {
    width: 250px;
    position: absolute;
}
