li.method, li.variable, li.typealias {
    list-style: none;
    padding-left: 0;
}

.post-content li h4 {
      font-family: "Input Mono Cond";
      font-style: normal;
      font-size: 15px;
      font-weight: normal;
      margin-top: 30px;
      white-space: pre-wrap;
}

.permalink {
  position: absolute;
  margin-left: -28px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 300ms;
}

li:hover .permalink {
  opacity: 1;
}

.api-nav {
  margin-left: 0;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;

  > li {
    list-style: none;
    padding: 0;
    margin: 0 1em 0 0 ;
    display: inline-block;
    font-family: "input mono cond";
    font-size: 13px;
    line-height: 28px;

    &.header {
      color: #aaa;
    }
  }
}
