---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title {% if page.doctype %}{{ page.doctype | join: " " }}{% else %}struct{% endif %}">{{ page.title }}</h1>
  </header>

  <article class="post-content">

    {{ page.content | markdownify}}

    {% for section in site.data.api_docs %}

        {% if section.title == page.title %}

            {% assign slugpath = page.slug | prepend:'/' | append:'/' %}

            {% if section.docs|size > 0  %}
            <h2>Method reference</h2>
            {% endif %}

            <ul>
            {% for doc in section.docs %}
                {% for m in site.methods %}
                    {% if doc == m.slug and m.relative_path contains slugpath %}
                        {{ m.output }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>

        {% endif %}
    {% endfor %}
  </article>

</div>


<!-- TODO: minify/concat all js -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ "/js/underscore-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
