---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}

    {% for section in site.data.api_docs %}

        {% if section.title == page.title %}
            <h2>Method reference</h2>

            {% for doc in section.docs %}
                {% for m in site.methods %}
                    {% if doc == m.slug %}
                        {{ m.output }}
                    {% endif %}
                {% endfor %}
            {% endfor %}

        {% endif %}
    {% endfor %}
  </article>

</div>


<!-- TODO: minify/concat all js -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ "/js/underscore-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
