<li>
{% if page.sublayout == 'convenience' %}
<h3>Convenience methods</h3>
{% elsif page.title %}
<h3>{{page.title}}</h3>
{% else %}
<h3>Variables</h3>
{% endif %}
{{ content}}
</li>

{% for var in page.variables %}
<li class="{% if var.type %}{{ var.type | join: " "}}{% else %}{{page.doctype | join: " "}}{% endif %}">
    <a href="#{{page.slug}}-{{forloop.index}}" class="permalink">&#9875;</a>
    <h4 id="{{page.slug}}-{{forloop.index}}">{{ var.name | escape }}</h4>

    {% if var.desc != "" %}
    <p> {{ var.desc | markdownify }}
    {% endif %}
</li>
{% endfor %}

